---
layout: page.liquid
permalink: /blog.html
image: /assets/image/default_cover_image.svg
---

<div
    class="relative bg-gray-200 dark:bg-gray-800 text-gray-900 dark:text-gray-50 rounded-full h-8 max-w-screen-md m-auto">
  <label class="flex justify-center items-center h-8 w-8" for="search-input" aria-hidden="true">
    <!-- Magnifier -->
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
         stroke="rgba(128,128,128,0.8)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
         class="feather feather-search">
      <circle cx="11" cy="11" r="8"></circle>
      <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
    </svg>
  </label>

  <input
      class="absolute top-0 h-8 w-full pl-8 dark:placeholder-white dark:placeholder-opacity-50 bg-transparent rounded-full focus:outline-none focus:ring focus:ring-red-500"
      type="search" id="search-input" placeholder="Search here..." aria-label="Search" value="">
</div>

<div class="max-w-screen-md m-auto border-2 border-gray-300 dark:border-gray-700 rounded-xl pl-3 pr-3 mt-2 hidden"
     id="search-result-container">
  <ul class="dark:text-gray-50" id="search-results">
    {% comment %}<li class="my-2 font-bold text-red-500 hover:text-red-700"><a href="https://google.com" title="Google">The quick{% endcomment %}
    {% comment %}brown fox jumped over the lazy dog.</a></li>{% endcomment %}
    {% comment %}<li class="my-2 font-bold text-red-500 hover:text-red-700"><a href="https://google.com" title="Google">Difference{% endcomment %}
    {% comment %}between font formats</a></li>{% endcomment %}
    {% comment %}<li class="my-2 font-bold text-red-500 hover:text-red-700"><a href="https://google.com" title="Google">Adding HTTP{% endcomment %}
    {% comment %}response headers to a Netlify static website</a></li>{% endcomment %}
  </ul>
</div>

<section class="max-w-screen-md m-auto grid grid-cols-2 mt-8">
  <div class="text-right pr-4">
    <a href="https://shunnobindu.wordpress.com/index/" target="_blank">
      <p class="inline-block transition-colors border-2 border-red-500 hover:bg-red-500 hover:text-white rounded text-gray-900 dark:text-gray-50 px-4 py-2 font-bold">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-text"
             viewBox="0 0 16 16">
          <path
              d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
          <path
              d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
          <path
              d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
        </svg>
        <span class="font-bold ml-2">শূন্য বিন্দু</span>
      </p>
    </a>
  </div>
  <div class="pl-4">
    <a class="iw-link font-bold" href="https://shunnokhata.wordpress.com/post-index/" target="_blank">
      <p class="inline-block transition-colors border-2 border-red-500 hover:bg-red-500 hover:text-white rounded text-gray-900 dark:text-gray-50 px-4 py-2 font-bold">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-text"
             viewBox="0 0 16 16">
          <path
              d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
          <path
              d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
          <path
              d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
        </svg>
        <span class="font-bold ml-2">শূন্য খাতা</span>
      </p>
    </a>
  </div>
</section>

<section class="posts max-w-screen-md m-auto" id="Blog">
  <ul class="mt-8 mb-16 text-gray-900 dark:text-gray-50">
    {% for post in site.posts %}
      {% include post_item.liquid.html %}
    {% endfor %}
  </ul>
</section>

<script src="{{ site.baseurl }}/assets/js/simple-jekyll-search.js"></script>
<script>
    var sjs = SimpleJekyllSearch({
        searchInput: document.getElementById('search-input'),
        resultsContainer: document.getElementById('search-results'),
        json: '{{ site.baseurl }}/search.json',
        searchResultTemplate: '<li class="my-2 font-bold text-red-500 hover:text-red-700"><a href="{url}">{title}</a></li>',
        noResultsText: '<p class="text-center py-4">No post found...</p>',
        limit: 10,
        fuzzy: true,
    });

    const searchContainer = document.getElementById('search-result-container');

    document.getElementById('search-input').addEventListener('input', function () {
        if (this.value === "") {
            searchContainer.classList.add('hidden');
        } else {
            searchContainer.classList.remove('hidden');
        }
    })
</script>