---
layout: page.liquid
permalink: /blog.html
---

<div class="relative bg-gray-200 dark:bg-gray-800 text-gray-900 dark:text-gray-50 rounded-full h-8 max-w-screen-md m-auto">
  <label class="flex justify-center items-center h-8 w-8" for="search-input" aria-hidden="true">
    <!-- Magnifier -->
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
         stroke="rgba(128,128,128,0.8)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
         class="feather feather-search">
      <circle cx="11" cy="11" r="8"></circle>
      <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
    </svg>
  </label>

  <input
      class="absolute top-0 h-8 w-full pl-8 dark:placeholder-white dark:placeholder-opacity-50 bg-transparent rounded-full focus:outline-none focus:ring focus:ring-red-500"
      type="search" id="search-input" placeholder="Search here..." aria-label="Search" value="">
</div>

{% comment %}<div class="max-w-screen-md m-auto border-2 border-gray-300 dark:border-gray-700 rounded-xl pl-3 pr-3 mt-2" id="search-result-container">{% endcomment %}
  {% comment %}<ul class="dark:text-gray-50" id="search-results">{% endcomment %}
    {% comment %}<li class="my-2 font-bold text-red-500 hover:text-red-700"><a href="https://google.com" title="Google">The quick{% endcomment %}
        {% comment %}brown fox jumped over the lazy dog.</a></li>{% endcomment %}
    {% comment %}<li class="my-2 font-bold text-red-500 hover:text-red-700"><a href="https://google.com" title="Google">Difference{% endcomment %}
        {% comment %}between font formats</a></li>{% endcomment %}
    {% comment %}<li class="my-2 font-bold text-red-500 hover:text-red-700"><a href="https://google.com" title="Google">Adding HTTP{% endcomment %}
        {% comment %}response headers to a Netlify static website</a></li>{% endcomment %}
  {% comment %}</ul>{% endcomment %}
{% comment %}</div>{% endcomment %}

<section class="posts max-w-screen-md m-auto" id="Blog">
  <ul class="mt-8 mb-16 text-gray-900 dark:text-gray-50">
    {% for post in site.posts %}
      <li class="my-3">
        <time class="font-mono text-xs block md:inline"
              datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d %b, %Y" }}</time>
        <a class="md:ml-2 font-bold text-red-500 hover:text-red-700"
           href="{% if post.external %}{{ post.blog_link }}{% else %}{{ site.baseurl }}{{ post.url }}{% endif %}">
          {% if post.external %}<i class="fa fa-external-link-square" aria-hidden="true"></i>{% endif %}
          {{ post.title }}
        </a>
        {% if post.external %}
          <span class="block md:inline text-xs italic">— <span class="font-mono text-xs">{{ post.blog }}</span></span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</section>

<script>
    const searchContainer = document.getElementById('search-result-container');

    document.getElementById('search-input').addEventListener('input', function () {
        if (this.value === "") {
            searchContainer.classList.add('hidden');
        } else {
            searchContainer.classList.remove('hidden');
        }
    })
</script>