---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
{% include head.liquid.html %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3EP7KLCYVP"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-3EP7KLCYVP');
</script>


<body class="container bg-gray-50 dark:bg-gray-900 transition-colors">

<main class="m-8">
  <header class="flex max-w-screen-md m-auto justify-between items-center pt-2 pb-8">
    <div>
      <a class="hover:text-red-500" href="/" title="Md. Mahmudul Hasan Shohag">
        <img class="rounded-full" src="https://www.gravatar.com/avatar/b3a22700bc9f23b288af7f1a7404e510?s=24"
             alt="Md. Mahmudul Hasan Shohag">
      </a>
    </div>

    {% if page.layout == 'post.liquid' %}
      <div class="text-gray-900 dark:text-gray-50">
        <a class="hover:text-red-500" href="/blog" title="Blogs">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-arrow-left-short inline-block w-6 h-6" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-list inline-block w-6 h-6"
               viewBox="0 0 16 16">
            <path
                d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
            <path
                d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
          </svg>
        </a>
      </div>
    {% endif %}

    <div>
      <button class="" title="Change theme" id="theme-toggle" onclick="modeSwitcher()">
        <div></div>
      </button>
    </div>
  </header>

  {% include anchor_headings.liquid.html html=content anchorBody='<svg xmlns="http://www.w3.org/2000/svg" width=1em height=1em fill="currentColor" class="bi bi-link-45deg inline-block" viewBox="0 0 16 16">
  <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
  <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
</svg>' anchorClass="anchor" %}
</main>

<script>
    function setTheme(theme) {
        if (theme === "dark") {
            document.documentElement.setAttribute('data-theme', 'dark');
            window.localStorage.setItem('theme', 'dark');
            document.getElementById("theme-toggle").classList.add('sun');
            document.getElementById("theme-toggle").classList.remove('moon');
            document.documentElement.classList.add('dark')
        } else {
            document.documentElement.setAttribute('data-theme', 'light');
            window.localStorage.setItem('theme', 'light');
            document.getElementById("theme-toggle").classList.add('moon');
            document.getElementById("theme-toggle").classList.remove('sun');
            document.documentElement.classList.remove('dark')
        }
    }

    let theme = localStorage.getItem('theme');

    theme = theme || (window.matchMedia ? window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light' : 'light');

    setTheme(theme);

    function modeSwitcher() {
        let currentMode = document.documentElement.getAttribute('data-theme');

        if (currentMode === "dark") {
            setTheme('light');
        } else {
            setTheme('dark');
        }
    }
</script>

</body>

</html>