---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
{% include head.liquid.html %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3EP7KLCYVP"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-3EP7KLCYVP');
</script>


<body class="container bg-gray-50 dark:bg-gray-900">

<main class="m-8">
  <header class="flex justify-between items-center pt-2 pb-8">
    <div class="">
      <a class="hover:text-red-500" href="/" title="Md. Mahmudul Hasan Shohag">
        <img class="rounded-full" src="https://www.gravatar.com/avatar/b3a22700bc9f23b288af7f1a7404e510?s=24"
             alt="Md. Mahmudul Hasan Shohag">
      </a>
    </div>
    <div class="">
      <button class="" title="Change theme" id="theme-toggle" onclick="modeSwitcher()">
        <div></div>
      </button>
    </div>
  </header>

  {% include anchor_headings.liquid.html html=content anchorBody="#" %}
</main>


<script>
    function setTheme(theme) {
        if (theme === "dark") {
            document.documentElement.setAttribute('data-theme', 'dark');
            window.localStorage.setItem('theme', 'dark');
            document.getElementById("theme-toggle").classList.add('sun');
            document.getElementById("theme-toggle").classList.remove('moon');
            document.documentElement.classList.add('dark')
        } else {
            document.documentElement.setAttribute('data-theme', 'light');
            window.localStorage.setItem('theme', 'light');
            document.getElementById("theme-toggle").classList.add('moon');
            document.getElementById("theme-toggle").classList.remove('sun');
            document.documentElement.classList.remove('dark')
        }
    }

    let theme = localStorage.getItem('theme');

    theme = theme || (window.matchMedia ? window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light' : 'light');

    setTheme(theme);

    function modeSwitcher() {
        let currentMode = document.documentElement.getAttribute('data-theme');

        if (currentMode === "dark") {
            setTheme('light');
        } else {
            setTheme('dark');
        }
    }
</script>

</body>

{% comment %}<footer class="social-footer">{% endcomment %}
  {% comment %}<div class="social-footer-icons">{% endcomment %}
    {% comment %}<a href="https://github.com/ImaginativeShohag" title="Github profile" target="_blank"{% endcomment %}
       {% comment %}rel="noopener noreferrer"><i class="fa fa-github" aria-hidden="true"></i></a>{% endcomment %}
    {% comment %}<a href="{{ site.url }}/atom.xml" title="Feed RSS" target="_blank" rel="noopener noreferrer"><i{% endcomment %}
          {% comment %}class="fa fa-rss" aria-hidden="true"></i></a>{% endcomment %}
    {% comment %}<a href="https://github.com/ImaginativeShohag/imaginativeshohag.github.io" title="Browse the code" target="_blank"{% endcomment %}
       {% comment %}rel="noopener noreferrer"><i{% endcomment %}
          {% comment %}class="fa fa-code" aria-hidden="true"></i></a>{% endcomment %}
  {% comment %}</div>{% endcomment %}
{% comment %}</footer>{% endcomment %}

{% if page.url == '/blog' %}
  <script src="{{ site.baseurl }}/assets/js/simple-jekyll-search.js"></script>
  <script>
      var sjs = SimpleJekyllSearch({
          searchInput: document.getElementById('search-input'),
          resultsContainer: document.getElementById('search-results'),
          json: '{{ site.baseurl }}/search.json',
          searchResultTemplate: '<li class="my-2 font-bold text-red-500 hover:text-red-700"><a href="{url}">{title}</a></li>',
          noResultsText: 'No results found..',
          limit: 10,
          fuzzy: true,
      })
  </script>
{% endif %}

</html>